<nav class="navbar navbar-default navbar-fixed-top navbar-menu" ng-controller="menuController">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="navbar-header">
                    <img ng-src="{{config.userThumb}}"/>
                    <h5>
                        {{config.userName}}
                    </h5>
                    <h6>
                        {{config.userTitle}}
                    </h6>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-repeat="menuTab in menuTabs()" class="nav-item {{classForTab(menuTab.href)}}">
                            <a href="{{menuTab.href}}" title="{{menuTab.name}}">
                                <i ng-show="menuTab.preNameFa != null" class="fa {{menuTab.preNameFa}}"/>
                                {{menuTab.name}}
                                <i ng-show="menuTab.postNameFa != null" class="fa {{menuTab.postNameFa}}"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
