@mainFont: "Roboto Condensed";
@backgroundColor: #fdfdfd;
@menuBackgroundColor: #212121;
@menuLinksColor: #d0d0d0;
@menuUserNameColor: #ab47bc;
@menuUserTitleColor: #d0d0d0;
@primaryColor: #212121;
@pageHeaderColor: #ab47bc;

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,latin-ext");

body {
    background-color: @backgroundColor;
    font-family: @mainFont, sans-serif;
}

.navbar, .navbar.navbar-default {
    background-color: @menuBackgroundColor;
}

.navbar .navbar-nav>li>a {
    color: @menuLinksColor;
}

.navbar-nav > li:hover:before, .navbar-nav > li.active:before {
    background-color: @menuLinksColor;
}

.navbar-nav > li:hover:after, .navbar-nav > li.active:after {
    background-color: @menuLinksColor;
}

.navbar h5 {
    color: @menuUserNameColor;
    font-family: @mainFont, sans-serif;
}

.navbar h6 {
    color: @menuUserTitleColor;
    font-family: @mainFont, sans-serif;
}

.page-container h3 {
    color: @pageHeaderColor;
    font-family: @mainFont, sans-serif;
}
